/.vs/JSONFilter/DesignTimeBuild/.dtbcache.v2
/.vs/JSONFilter/v17/.suo
/.vs/JSONFilter/v17/TestStore/0/000.testlog
/.vs/JSONFilter/v17/TestStore/0/testlog.manifest
/JSONFilter/bin/Debug/net6.0/JSONFilter.deps.json
/JSONFilter/bin/Debug/net6.0/JSONFilter.dll
/JSONFilter/bin/Debug/net6.0/JSONFilter.pdb
/JSONFilter/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/JSONFilter/obj/Debug/net6.0/JSONFilter.AssemblyInfo.cs
/JSONFilter/obj/Debug/net6.0/JSONFilter.AssemblyInfoInputs.cache
/JSONFilter/obj/Debug/net6.0/JSONFilter.GeneratedMSBuildEditorConfig.editorconfig
/JSONFilter/obj/Debug/net6.0/JSONFilter.GlobalUsings.g.cs
/JSONFilter/obj/Debug/net6.0/JSONFilter.assets.cache
/JSONFilter/obj/Debug/net6.0/JSONFilter.csproj.AssemblyReference.cache
/JSONFilter/obj/Debug/net6.0/JSONFilter.csproj.CoreCompileInputs.cache
/JSONFilter/obj/Debug/net6.0/JSONFilter.csproj.FileListAbsolute.txt
/JSONFilter/obj/Debug/net6.0/JSONFilter.dll
/JSONFilter/obj/Debug/net6.0/JSONFilter.pdb
/JSONFilter/obj/Debug/net6.0/ref/JSONFilter.dll
/JSONFilter/obj/Debug/net6.0/refint/JSONFilter.dll
/JSONFilter/obj/JSONFilter.csproj.nuget.dgspec.json
/JSONFilter/obj/JSONFilter.csproj.nuget.g.props
/JSONFilter/obj/JSONFilter.csproj.nuget.g.targets
/JSONFilter/obj/project.assets.json
/JSONFilter/obj/project.nuget.cache
/JSONFilterTest/bin/Debug/net6.0/*
/JSONFilterTest/bin/Debug/net6.0/*.dll
/JSONFilterTest/bin/Debug/net6.0/*.pdb
/JSONFilterTest/bin/Debug/net6.0/*.json
/JSONFilterTest/bin/Debug/net6.0/cs/*.dll
/JSONFilterTest/bin/Debug/net6.0/de/*.dll
/JSONFilterTest/bin/Debug/net6.0/es/*.dll
/JSONFilterTest/bin/Debug/net6.0/fr/*.dll
/JSONFilterTest/bin/Debug/net6.0/it/*.dll
/JSONFilterTest/bin/Debug/net6.0/ja/*.dll
/JSONFilterTest/bin/Debug/net6.0/ko/*.dll
/JSONFilterTest/bin/Debug/net6.0/pl/*.dll
/JSONFilterTest/bin/Debug/net6.0/pt-BR/*.dll
/JSONFilterTest/bin/Debug/net6.0/ru/*.dll
/JSONFilterTest/bin/Debug/net6.0/*.exe
/JSONFilterTest/bin/Debug/net6.0/tr/*.dll
/JSONFilterTest/bin/Debug/net6.0/zh-Hans/*.dll
/JSONFilterTest/bin/Debug/net6.0/zh-Hant/*.dll
/JSONFilterTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.AssemblyInfo.cs
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.AssemblyInfoInputs.cache
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.GeneratedMSBuildEditorConfig.editorconfig
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.assets.cache
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.csproj.AssemblyReference.cache
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.csproj.CopyComplete
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.csproj.CoreCompileInputs.cache
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.csproj.FileListAbsolute.txt
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.dll
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.genruntimeconfig.cache
/JSONFilterTest/obj/Debug/net6.0/JSONFilterTest.pdb
/JSONFilterTest/obj/Debug/net6.0/ref/JSONFilterTest.dll
/JSONFilterTest/obj/Debug/net6.0/refint/JSONFilterTest.dll
/JSONFilterTest/obj/JSONFilterTest.csproj.nuget.dgspec.json
/JSONFilterTest/obj/JSONFilterTest.csproj.nuget.g.props
/JSONFilterTest/obj/JSONFilterTest.csproj.nuget.g.targets
/JSONFilterTest/obj/project.assets.json
/JSONFilterTest/obj/project.nuget.cache
